/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
[Tt]humbs.db
.DS_Store
Builds
obj
sysinfo.txt
*.csproj
*.pidb
*.pidb.meta
*.unityproj
*.booproj
*.sln
*.tmp
*.user
*.userprefs
*.apk
*.exe
*.suo
*.DotSettings
Assets/UnityVS/Editor/UnityVS.VersionSpecific.dll
Test_Data/
Assets/UnityVS/Editor/*.meta
Assets/UnityVS/Editor.meta
Assets/UnityVS.meta